import("stats", "Matrix")
importFrom("graphics", "plot")

export(
       "convertFromS3groupedData",
       "getCovariateFormula",
       "getGroups",
       "getGroupsFormula",
       "getResponse",
       "getResponseFormula",      
       "groupedData",
       "gsummary",
       "lmList",
       "pooledSD"
       )

exportMethods(
              "BIC",
              "anova",
              "coef",
              "coerce",
              "confint",
              "deviance",
              "fitted",
              "fixef",
              "formula",
              "gsummary",
              "logLik",
              "plot",
              "ranef",
              "residuals",
              "resid",
              "show",
              "summary",
              "update",
              "vcov",
              "with"
              )
