import("stats", "Matrix")

export(
       "BIC",
       "GLMM",
       "GLMM1",
       "VarCorr",
       "coef<-",
       "contr.SAS",
       "convertFromS3groupedData",
       "fixef",
       "getCovariateFormula",
       "getGroups",
       "getGroupsFormula",
       "getResponse",
       "getResponseFormula",      
       "groupedData",
       "gsummary",
       "lmList",
       "lme",
       "lmeControl",
       "lmer",
       "pooledSD",
       "ranef",
       "sscCrosstab"
       )

exportClasses(
              "GLMM",
              "VarCorr",
              "lmList",
              "lme",
              "lmer",
              "sscCrosstab",
              "ssclme",
              "summary.GLMM",
              "summary.lme",
              "summary.lmer",
              "summary.ssclme"
              )

exportMethods(
              "BIC",
              "GLMM",
              "GLMM1",
              "anova",
              "coef",
              "coef<-",
              "coerce",
              "deviance",
              "fitted",
              "fixef",
              "formula",
              "gsummary",
              "logLik",
#              "plot",
              "ranef",
              "residuals",
              "show",
              "summary",
              "update",
              "vcov"
              )
