useDynLib("lme4")
importFrom("stats4", "logLik", "plot", "summary", "update")
importFrom("stats", "anova", "fitted", "model.matrix", "residuals")
importFrom("Matrix",
           "coef",
           "coef<-",
           "corMatrix",
           "formula",
           "isInitialized",
           "matrix<-",
           "pdCompSymm",
           "pdDiag",
           "pdFactor",
           "pdIdent",
           "pdLogChol",
           "pdMatrix",
           "pdNatural"
           )
importClassesFrom("Matrix",
                  "corrmatrix",
                  "pdCompSymm",
                  "pdDiag",
                  "pdIdent",
                  "pdLogChol",
                  "pdMat",
                  "pdNatural",
                  "pdfactor",
                  "pdmatrix",
                  "ssclme"
                  )
importMethodsFrom("Matrix",
                  "crossprod",
                  "dim"
                  )

export(
       "EMupdate<-",
       "GLMM",
       "LMEgradient",
       "Names",
       "Names<-",
       "VarCorr",
       "fixef",
       "getCovariateFormula",
       "getGroups",
       "getGroupsFormula",
       "getResponse",
       "getResponseFormula",      
       "glmmLa2LogLikComp",
       "glmmLa2RespWt",
       "lmList",
       "lme",
       "lmeControl",
       "pdgradient",
       "pooledSD",
       "ranef"
       )

exportClasses(
              "VarCorr",
              "glmm",
              "groupedData",
              "lmList",
              "lme",
              "lmeLevel",
              "lmeLevelList",
              "reStruct",
              "summary.glmm",
              "summary.lme",
              "summary.pdMat",
              "summary.reStruct"
              )

exportMethods(
              "$",
              "$<-",
              "EMupdate<-",
              "LMEgradient",
              "Names",
              "Names<-",
              "[",
              "[<-",
              "[[",
              "anova",
              "coef",
              "coef<-",
              "coerce",
              "coerce<-",
              "fitted",
              "fixef",
              "formula",
              "isInitialized",
              "logLik",
              "model.matrix",
              "pdgradient",
              "plot",
              "ranef",
              "residuals",
              "show",
              "summary",
              "update"
              )
